.section {
  &__sliderloc {
    position: relative;
    height: 160px;
    background-image: url("../assets/img/locations.svg");
    background-size: 500px 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px 32px 0 32px;
    margin: 0px -11%; /* full width image - delete margin from the body*/
    z-index: 0;
  }
  &__sliderloc::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 59, 89, 0.75);
  }

  &__sliderloc h1 {
    text-transform: capitalize;
    z-index: 1;
  }
  &__loccontainer {
    position: relative;
  }
  &__loccontainer img {
    max-width: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
    position: relative;
  }
  &__loccontainer img:last-of-type {
    display: none;
  }
  &__pointus::after {
    content: url("assets/img/Oval.svg");
    position: absolute;
    top: 9%;
    left: 24%;
  }
  &__pointeur::after {
    content: url("assets/img/Oval.svg");
    position: absolute;
    top: 9%;
    left: 42%;
  }
  &__pointrus::after {
    content: url("assets/img/Oval.svg");
    position: absolute;
    top: 10%;
    left: 82%;
  }
  &__pointjap::after {
    content: url("assets/img/Oval.svg");
    position: absolute;
    top: 14%;
    left: 76%;
  }
  &__locville {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.0714285373687744px;
    text-align: center;
    text-transform: capitalize;
    color: $color--darknavy;
    width: 100%;
    background-color: rgba(252, 183, 43, 0.15);
    margin: 16px 0px;
    height: 72px;
  }

  &__locinfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 72px;
  }
  &__locinfos h2 {
    text-align: center;
    padding-bottom: 32px;
  }
  &__locinfos p {
    text-align: center;
    padding-bottom: 32px;
  }
}

@media (min-width: 380px) and (max-width: 768px) {
  .section {
    &__sliderloc::after {
      content: url("assets/img/section_round.svg");
      position: absolute;
      transform: translate(-50%, -50%);
      bottom: 13%;
      right: -100px;
      z-index: 1;
    }
    &__sliderloc {
      height: 200px;
      justify-content: center;
      align-items: flex-start;
      background-size: cover;
      background-position: 38% center;
      padding: 96px 98px 0 97px;
    }

    &__sliderloc h2 {
      padding-left: calc(-8.5% + 18%);
    }

    &__locville {
      display: none;
    }
    &__locinfos .header__btn {
      padding: 0;
      margin: 0;
    }
    &__loccontainer img:first-of-type {
      display: none;
    }

    &__pointus::after,
    &__pointeur::after,
    &__pointrus::after,
    &__pointjap::after {
      display: none;
    }

    &__loccontainer img:last-of-type {
      display: block;
    }
  }
}

@media (min-width: 769px) {
  .section {
    &__sliderloc {
      height: 200px;
      justify-content: center;
      align-items: flex-start;
      background-size: cover;
      padding: 96px 98px 0 calc(15%);
    }
    &__sliderloc::after {
      content: url("assets/img/section_round.svg");
      position: absolute;
      transform: translate(-50%, -50%);
      bottom: 40px;
      right: -100px;
    }

    &__locville {
      display: none;
    }
    &__locinfos {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__locinfos h2 {
      text-align: left;
      flex: 1;
      padding-bottom: 0px;
    }
    &__locinfos p {
      width: auto;
      text-align: left;
      padding-bottom: 0px;
      margin-left: 2%;
      margin-right: 4%;
      flex: 2;
    }
    &__locinfos .header__btn {
      justify-content: center;
      padding: 0;
      margin: 0;
    }
    &__loccontainer img:first-of-type {
      display: none;
    }

    &__pointus::after,
    &__pointeur::after,
    &__pointrus::after,
    &__pointjap::after {
      display: none;
    }

    &__loccontainer img:last-of-type {
      display: block;
    }
  }
}
