.path{
    display: none;
}
.main_picto{
    width: 56px;
    height: 56px;
    background-color: $color--yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_div{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 48px 0;
    & h4{
        margin: 24px 0;
    }

}

.main_right{
    display: none;
}

.main_left{
    display: none;
}

.tst{
    align-content: center;
}
.main_round_pics {
    position: relative;
    margin: 56px auto;
    width: 311px;
    height: 311px;
    & .main_pics {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    & #svg_phone {
        position: absolute;
        top: 80%; // Ajustez ces valeurs comme nécessaire
        left: 55%;
        transform: translate(-50%, -50%); // Centrer l'image
    }
    & #svg_wallet {
        position: absolute;
        top: 30%; // Ajustez ces valeurs comme nécessaire
        left: 55%;
        transform: translate(-50%, -50%); // Centrer l'image
    }
    & #svg_city{
        position: absolute;
        top: 0; // Ajustez ces valeurs comme nécessaire
        left: -35%;
        transform: scaleX(-1);

    }
    & #svg_redguy{
        position: absolute;
        top: 77%; // Ajustez ces valeurs comme nécessaire
        left: 55%;
        transform: translate(-50%, -50%); // Centrer l'image
    }

}

.main_txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 48px 0;
    & p{
        margin: 32px 0;
    }
    & button{
        width: 180px;
        height: 53px;
        background-color: $color--yellow;
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: $color--yellow;
            border: 1px solid $color--yellow;
        }
    }
}

@media (min-width: 768px) {

    .main_div{
        flex-direction: row;
        justify-content: space-around;
        & .main_picto{
            position: relative;
            width: 96px;
            height: 96px;
            & img{
                width: 38px;
                height: 47px;
            }
            & .path{
                display: flex;
                position: absolute;
                bottom: 0;
                left: auto;
                z-index: -1;
            }
        }

        & div{
            text-align: left;
            width: 65%;
        }
    }

    .main_round_pics{
        display: none;
    }

    .main_right{
        display: block;
        margin: 56px -10.5%;
        position: relative;
        float: right;
    }

    .main_left{
        display: block;
        margin: 56px -10.5%;
        position: relative;
        float: left;
    }

}

@media (min-width: 1440px) {
    .main_container{
        display: flex;
        flex-direction: row;
        max-width: 1275px;
    }

    .main_div{
        min-width: 0;
        flex-direction: column;
        align-items: start;
        & .main_picto{
            & .path{
                position: relative;
                transform: rotate(90deg);
                top: auto;
                left: -600%;
            }
        }
        & div{
            text-align: left;
            width: 90%;
            & p{
                max-width: 100%;
            }
        }

    }

    .need_parent{
       display: flex;
        flex-direction: column;
        & .tst{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .main_txt{
                width: 40%;
                margin: 0;
                align-items: start;
                text-align: left;
            }
        }

        & .tst:nth-child(odd){
            flex-direction: row-reverse;
        }
    }



}